name: Update Flake

on:
  schedule:
    # every day at 8am UTC
    - cron: "0 8 * * *"
  workflow_dispatch:

jobs:
  update-dependencies:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4

      - name: Install nix (with flakes)
        uses: cachix/install-nix-action@v14
        with:
          install_url: https://github.com/numtide/nix-flakes-installer/releases/download/nix-2.4pre20210207_fd6eaa1/install
          extra_nix_config: |
            experimental-features = nix-command flakes

      - name: Update flake lock file
        run: nix flake update --recreate-lock-file

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v3.10.1
        with:
          token: ${{ secrets.REPO_TOKEN }}
          # reviewers: 06kellyjac
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          delete-branch: true
          commit-message: "chore: update flake dependencies - automation"
          title: "chore: update flake dependencies - automation"
          branch: automation/update-flake-dependencies
          body: Updates flake dependencies; merge if the build passes.

      - name: Check outputs
        if: steps.cpr.outputs.pull-request-number != ''
        run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
          echo "Pull Request URL    - ${{ steps.cpr.outputs.pull-request-url }}"

      - name: Enable Pull Request Automerge
        uses: peter-evans/enable-pull-request-automerge@v1.1.0
        if: steps.cpr.outputs.pull-request-number != ''
        with:
          token: ${{ secrets.REPO_TOKEN }}
          pull-request-number: ${{ steps.cpr.outputs.pull-request-number }}
          merge-method: rebase
